---
layout: splash
author_profile: true
permalink: /
title: "Sawasdee kha<br>to WiphaStyle"
excerpt: "WiphaStyle is a personal consultant to<br>
help and give advice to the gentleman<br>
who needs a mentor to assist him with..."
header:
  overlay_image: assets/images/beachbab.jpeg
  actions:
    - label: "More Info"
      url: "/about"
intro:
  - excerpt: '\"Being a gentleman comes from within. Great style makes a gentleman irresistible.\"<br>- Wipha T.'
feature_row:
  - image_path: /assets/images/WhatsApp Image 2019-01-19 at 21.36.38.jpeg
    alt: "image 1"
    title: "Black is beautiful"
    excerpt: "Every man should have black in his wardrobe."
    url: "#"
    btn_label: "Read More"
    btn_class: "btn--inverse"
  - image_path: /assets/images/WhatsApp Image 2019-01-19 at 21.35.44.jpeg
    alt: "image 2"
    title: "Peek A Boo"
    excerpt: "A misterious look can unlock a lot of secrets."
    url: "#"
    btn_label: "Read More"
    btn_class: "btn--inverse"
  - image_path: /assets/images/WhatsApp Image 2019-01-19 at 21.36.14.jpeg
    title: "Rotkäppchen"
    excerpt: "Why do you have such a big mouth?"
    url: "#"
    btn_label: "Read More"
    btn_class: "btn--inverse"
---

{% include feature_row id="intro" type="center" %}
{% include feature_row %}
